<div class="container">
  <h1 class="text-center">Contacts</h1>
  <div class="row justify-content-center p-2">
    <!-- User input form -->
    <div class="col-sm-6">
      <form class="text-center">
        <div class="form-group row">
          <label for="inputName" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" name="inputName" placeholder="Name">
          </div>
        </div>

        <div class="form-group row">
          <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
              <input type="email" class="form-control" name="inputEmail" placeholder="Email">
          </div>
        </div>

        <div class="form-group row">
          <label for="inputContact" class="col-sm-2 col-form-label">Contact</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" name="inputContact" placeholder="Contact no.">
          </div>
        </div>

        <button submit="addUser(e)" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>


  <!-- Gridview users -->
  <div class="row">
    <div *ngFor = "let user of users; let i = index" class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{user.name}}</h5>
          <p class="card-text">{{user.email}}</p>
          <p class="card-text">{{user.contact}}</p>
          <a href="#" class="btn btn-primary">Update</a>
        </div>
      </div>
    </div>
  </div>
</div>